.swagger-ui .topbar {
    background-color: #444444;
}

.swagger-ui em {
    font-style: italic;
}

.select-label span {
    font-style: italic;
    color: #999;
}

/*.swagger-ui .download-url-wrapper {
    display: none !important;
}*/

#copyright {
    margin: 30px auto 15px auto;
    max-width: 960px;
    font-family: "Droid Sans", sans-serif;
    color: #999;
    font-size: 0.8em;
}
